ENV="PRODUCTION"
GO_PORT=":8001"
DB_HOST = "localhost"
MONGODB_URL="mongodb://localhost:27017"
DATABASE_NAME="DATABASE_NAME"
COLLECTION_NAME="COLLECTION_NAME"

TEST_PHONE_NUMBER="01111111111"

USER_HOST_URL="https://users.bongochat.app"
USER_LOGIN_API_URL="/api/v1/user/login/"
CLIENT_LOGIN_API_URL="/api/v1/client/login/"
# logging configuration
PROJECT_ID = "PROJECT_ID"
LOG_NAME = "log-name"
#GCP_STORAGE_KEY = ""